a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
  border-top: 0;
}

.btn-primary {
  background-color: $indigo;
  border-color: $indigo-400;
  &:hover{
    background-color: $indigo-400;
  }
}

.card{
  .image-container{
    &:before{
      content: '';
      background: #212529;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .play{
      color: #fff;
      z-index: 2;
      font-size: 50px;
    }
    &:hover{
      &:before{
        background: transparent;
        transition: all 0.3s ease-out;
      }
      .play{
        opacity: 0;
        transition: opacity 0.5s ease-out;
      }
    }
  }
}

.main-content, .main-video-content{
  margin: 5rem auto;
}
.main-video-content{
  .main-content{
    margin-top: 0;
  }
}
.main-content, .suggested-video{
  a{
    color: #212529;
    text-decoration: none;
    position: relative;
  }
}

.suggested-video {
  overflow-x: auto;
  height: calc( 100vh - 90px );
}

.search-form{
  position: relative;
  .btn-outline-primary{
    color: $indigo;
    border-color: $indigo;
    &:hover{
      background-color: $indigo;
      color: $white;
    }
  }
  .dropdown-content {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    overflow-y: auto;
    max-height: 300px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    a{
      display: block;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid #ced4da;
      text-decoration: none;
      color: inherit;
    }
  }
}

.likes-content{
  cursor: pointer;
  display: inline-flex;
  align-content: center;
  color: #212529;
}

.sidebar{
  .nav-item{
    .nav-link{
      &.active{
        color: $indigo;
        background: none;
      }
      &:hover{
        background: $indigo;
        color: $white !important;
      }      
    }
  }
}

.form-check{
  padding: 0.35em 0.65em 0.35em 1.7rem;
  margin-right: 0;
  font-size: 0.75em;
  font-weight: 700;
  background-color: $dark;
  border-radius: 50rem !important;
  color: $white;
  text-transform: capitalize;
  input:checked + label{
    text-decoration: underline;
  }
}

.btn-label {
  position: relative;
  left: -5px;
  top: 2px;
  display: inline-block;
  padding: 0px 6px;
  .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form-upload-messages{
  display: none;
}

.tag-bar{
  overflow-x: auto;
  white-space: nowrap;
  .badge{
    transition: background 0.1s ease-in;
    text-transform: capitalize;
    cursor: pointer;
    &:hover{
      background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
      color: $white !important;
    }
    &.active{
      background: rgba( $indigo, var(--bs-bg-opacity)) !important;
      color: $white !important;
    }
  }
}

.tags-content{
  .badge{
    transition: background 0.1s ease-in; 
    text-transform: capitalize;
    &:hover{
      background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
      a{
        color: $white !important;
      }
    }
  }
}
.actions-content a{
  display: inline-block;
}