a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
  border-top: 0;
}

.main-content{
  a{
    color: #212529;
    text-decoration: none;
  }
}

.search-form{
  position: relative;
  .btn-outline-primary{
    color: $indigo;
    border-color: $indigo;
    &:hover{
      background-color: $indigo;
      color: $white;
    }
  }
  .dropdown-content {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    overflow-y: auto;
    max-height: 300px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    a{
      display: block;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid #ced4da;
      text-decoration: none;
      color: inherit;
    }
  }
}

.likes-content{
  cursor: pointer;
  display: inline-flex;
  align-content: center;
}

.sidebar{
  .nav-item{
    .nav-link{
      &.active{
        color: $indigo;
        background: none;
      }
      &:hover{
        background: $indigo;
        color: $white !important;
      }      
    }
  }
}

.form-upload-messages{
  display: none;
}

.tag-bar{
  overflow-x: auto;
  white-space: nowrap;
  .badge{
    transition: background 0.1s ease-in;
    &:hover{
      background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
      a{
        color: $white !important;
      }
    }
  }
}

.meta-content{
  .badge{
    transition: background 0.1s ease-in;
    &:hover{
      background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
      a{
        color: $white !important;
      }
    }
  }
}