{{> header }}
<!-- Main content -->
<div class="main-content">
  <div class="tag-bar border-top border-bottom pt-3 pb-2 mb-3">
    {{#each tags}}
      <span class="badge rounded-pill bg-light text-dark py-2 px-3" data-category="{{ this.name }}">{{ this.name }}</span>
    {{/each}}
  </div>
  <h2 class="video-grid-title mb-4">Recent videos <small class="fw-light">{{#if videos.length }}({{ videos.length }}){{/if}}</small></h2>
  <div class="video-grid row">
    {{#if videos.length }}
      {{#each videos}}
        {{> card layout="col-sm-6 col-lg-3 mb-3" }} 
      {{/each}}
    {{else}}
      <p class="fst-italic">Not found videos at this moment!</p>
    {{/if}}
  </div>
</div>
{{> footer }}