{{> header }}
<!-- Main content -->
<div class="main-content col-9 mb-5">
  <div class="tag-bar border-top border-bottom py-3 mb-3">
    {{#each tags}}
      <span class="badge rounded-pill bg-light text-dark py-2 px-3"><a href="#">{{ this.name }}</a></span>
    {{/each}}
  </div>
  <h2 class="mb-4">Recent videos</h2>
  <div class="row">
    {{#each videos}}
      {{> card layout="col-sm-6 col-lg-4 mb-3" }}
    {{/each}}
  </div>
</div>
{{> footer }}