{{> header }}
<!-- Main content -->
<div class="main-content container">

  <h2 class="mb-4">Upload video</h2>

  <div class="form-upload-messages alert align-items-center fade show" role="alert">
    <i class="bi" width="24" height="24" role="img" aria-label="Success:"></i>
    <span class="small ms-3"></span>
  </div>

  <form id="form-upload" class="animate__animated animate__fadeIn">

    <!-- Video name -->
    <div class="mb-4">
      <label for="form-name" class="form-label">Video name <small class="text-danger">*</small></label>
      <input type="text" class="form-control" id="form-name" name="form-name" aria-describedby="nameHelp" placeholder="Your new video name" required>
    </div>

    <!-- Video Source -->
    <div class="row mb-4">
      <label for="form-url" class="form-label">Video Source <small class="text-danger">*</small></label>
      <div class="col-12 mb-2">
        <figure>
          <video id="preview" class="ratio ratio-16x9 rounded" title="Video preview" controls></video>
          <figcaption class="form-text text-md-end text-start fst-italic">Video preview</figcaption>
        </figure>
      </div>
      <div class="col-12">
        <input type="file" class="form-control" id="form-url" name="form-url" aria-describedby="videoSource" accept="video/*" required/>
      </div>
    </div>

    <!-- Category -->
    {{#if tags.length }}
      <div class="tags-container mb-4" aria-describedby="categorySelectHelp" required>
        {{#each tags }}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="form-check-{{ _id }}" name="form-category" value="{{ name }}">
            <label class="form-check-label" for="form-check-{{ _id }}">{{ name }}</label>
          </div>    
        {{/each}}
        <div id="categorySelectHelp" class="form-text">Select a video category created by the community</div>
      </div>
    {{/if}}

    <!-- New Category -->
    <div class="mb-4">
      <label class="form-label" for="form-new-category">New categories</label>
      <div id="newCategoryHelp" class="form-text">Add new categories for the video, if you want to attach multiple categories, separate it by commas</div>      
      <input type="text" name="form-new-category" id="form-new-category" class="form-control" aria-describedby="newCategoryHelp" placeholder="Sports, Action, Lifestyle, Dating"/>
    </div>

    <!-- Submit video -->
    <button type="submit" class="btn btn-primary">Upload video</button>

  </form>
</div>
{{> footer }}