{{> header }}
<!-- Main content -->
<div class="main-content col-9 mb-5">

  <h2 class="mb-4">Upload video</h2>

  <div class="form-upload-messages alert align-items-center fade show" role="alert">
    <i class="bi" width="24" height="24" role="img" aria-label="Success:"></i>
    <span class="small ms-3"></span>
  </div>

  <form id="form-upload">

    <!-- Video name -->
    <div class="mb-3">
      <label for="form-name" class="form-label">Video name</label>
      <input type="text" class="form-control" id="form-name" name="form-name" aria-describedby="nameHelp" required>
      <div id="nameHelp" class="form-text">Your new video name</div>
    </div>

    <!-- Video Source -->
    <div class="mb-3">
      <label for="form-url" class="form-label">Video Source</label>
      <div id="videoSource" class="form-text">Your new video name</div>
      <input type="file" class="form-control" id="form-url" name="form-url" aria-describedby="videoSource" accept="video/*" required/>
    </div>

    <!-- Category -->
    <div class="mb-3" aria-describedby="categorySelectHelp">
        {{#each tags }}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="form-check-{{ _id }}" name="form-category" value="{{ name }}">
            <label class="form-check-label" for="form-check-{{ _id }}">{{ name }}</label>
          </div>    
        {{/each}}
      <div id="categorySelectHelp" class="form-text">Select a video category created by the community</div>
    </div>

    <!-- New Category -->
    <div class="mb-3">
      <label class="form-label" for="form-new-category">New categories</label>
      <input type="text" name="form-new-category" id="form-new-category" class="form-control" aria-describedby="newCategoryHelp"/>
      <div id="newCategoryHelp" class="form-text">Add new categories for your video, for multiple, separate it by commas</div>
    </div>

    <!-- Submit video -->
    <button type="submit" class="btn btn-primary">Upload video</button>

  </form>
</div>
{{> footer }}