        </div>
      </div>
    </main>
    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">José Duque</a>
        </div>
      </nav>      
    </footer>
    <script src="/js/scripts.js"></script>
    {{!-- <script src="/js/libs/pristine.min.js" type="text/javascript" async></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.12.0/hyperform.min.js" async></script>
    <script src="https://polyfill.io/v2/polyfill.min.js?features=Element.prototype.classList,WeakMap" async></script>
  </body>
</html>