<!-- Search Bar -->
<form class="search-form d-flex col-8">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-primary" type="submit">Search</button> 
</form>