<!-- Search Bar -->
<form id="search-bar" class="search-form d-flex col-12 col-md-8" title="Search bar">
  <input class="form-control" type="search" placeholder="Type something for search. Ej. Vacations" aria-label="Search">
  <div class="dropdown-content list-group"></div>
</form>