<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div> 
      <a href="#" class="nav_logo"><i class="bi bi-stack nav_logo-icon"></i><span class="nav_logo-name">It's Chilltime</span></a>
      <div class="nav_list">
        <a href="/" class="nav_link active"><i class="bi bi-grid-1x2-fill nav_icon"></i> <span class="nav_name">Home</span></a>
        <a href="/profile" class="nav_link"><i class="bi bi-person nav_icon"></i> <span class="nav_name">Profile</span></a>
        <a href="/upload" class="nav_link"> <i class="bi bi-folder nav_icon"></i> <span class="nav_name">Upload video</span></a>
      </div>
    </div>
    <a href="#" class="nav_link"> <i class="bi bi-log-out nav_icon"></i> <span class="nav_name">SignOut</span></a>
  </nav>
</div>