<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div> 
      <a href="/" class="nav_logo"><i class="bi bi-camera-reels-fill nav_logo-icon"></i><span class="nav_logo-name">Menú</span></a>
      <div class="nav_list">
        <a href="/" class="nav_link active" title="Home"><i class="bi bi-house-fill nav_icon animate__animated animate__fadeIn"></i> <span class="nav_name">Home</span></a>
        <a href="/profile" class="nav_link" title="Profile"><i class="bi bi-person-fill nav_icon animate__animated animate__fadeIn"></i> <span class="nav_name">Profile</span></a>
        <a href="/upload" class="nav_link" title="Upload video"> <i class="bi bi-cloud-arrow-up-fill nav_icon animate__animated animate__fadeIn"></i> <span class="nav_name">Upload video</span></a>
        <a href="/logout" class="nav_link" title="Logout"> <i class="bi bi-box-arrow-right nav_icon animate__animated animate__fadeIn"></i> <span class="nav_name">Login/Logout</span></a>
      </div>
    </div>
  </nav>
</div>