<!-- Sidebar -->
<div id="sidebar-wrapper" class="ms-2">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link active" aria-current="page">
        <i class="bi bi-house-door-fill me-2"></i>
        Home
      </a>
      <a href="/profile" class="nav-link text-dark" aria-current="page">
        <i class="bi bi-person-fill me-2"></i>
        Profile
      </a>
      <a href="/profile" class="nav-link text-dark" aria-current="page">
        <i class="bi bi-person-fill me-2"></i>
        Profile
      </a>
      <a href="/profile" class="nav-link text-dark" aria-current="page">
        <i class="bi bi-person-fill me-2"></i>
        Profile
      </a>
      <a href="/profile" class="nav-link text-dark" aria-current="page">
        <i class="bi bi-person-fill me-2"></i>
        Profile
      </a>
      <a href="/profile" class="nav-link text-dark" aria-current="page">
        <i class="bi bi-person-fill me-2"></i>
        Profile
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown ms-2">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>Guest</strong>
    </a>
  </div>  
</div>