

/** Variables **/

$indigo-light: #AFA5D9;
$chilltime-font-family: 'Open Sans', sans-serif;
$z-fixed: 100;
$header-height: 3rem;
$nav-width: 68px;

body {
  font-family: $chilltime-font-family;
}

h2{
  font-weight: 800;
  font-style: italic;
}

h3{
  font-weight: 700;
  font-style: italic;
}

h4{
  font-weight: 600;
  font-style: italic;
}

h5{
  font-weight: 500;
  font-style: italic;
}

a {
  text-decoration: none
}

/** Scrollbar Chrome **/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: 0px solid transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}